<% content_for :header do %>
  <section class="content-header">
    <h1>
      Category
      <small>New</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-home"></i></a></li>
      <li><%= link_to "Categories", admin_categories_path %></li>
      <li class="active">New</li>
    </ol>
  </section>
<% end %>

<%= render 'form' %>
