<% content_for :header do %>
  <section class="content-header">
    <h1>
      Request Report
      <small><%= @report.report_type.name %></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><%= link_to "New Report", select_reports_path %></li>
      <li class="active">Request</li>
    </ol>
  </section>
<% end %>

<%= render 'form' %>
